/* Adds CSS to make the "Let's create your account" div full height and transparent for mobile view */
@media (max-width: 768px) {
  .register-container {
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
  .buttonOx{
    height: 80px !important;
    overflow: hidden !important;
    margin-top: 30px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .buttonImg{
    justify-content: center;
    align-items: center;
  }
  .register-mobile-btn {
    margin-top: 50px !important;
  }
  .register-title-mobile {
    font-size: 2rem !important;
  }
}

.continue-to-login{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 0px !important;
    font-size: 16px !important;
    color: #000 !important;
    text-decoration: none !important;
}

